{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <div class="page-content header-clear-larger">

    <div><h3>Con el apoyo de:</h3></div>
        <br>
    <div class="row">

          <div class="">
            <img  class="responsive-image" src="{% static 'logos/PAHO_logos_right_spanish.png' %}">

        </div>
<br>
        <div class="icon-column ">

            <img  class="responsive-image" src="{% static 'logos/UNAH-version-horizontal.png' %}">
<div><h1>Universidad Autónoma de Honduras.</h1></div>
        </div>
<br>

        <div class="icon-column">
            <img class="responsive-image"  src="{% static 'logos/indice.jpg' %}">
<div><h1>Facultad de Ciencias Medicas | UNAH.</h1></div>
        </div>
        <br>
     <div class=" ">

            <img  class="bg-blue-light responsive-image" src="{% static 'logos/object625789849.png' %}">

        </div>
<br>
    </div>
    </div>

{% endblock %}