{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
       <div class="header shadow-large header-light header-logo-app">

		<a href="#" class="back-button header-title" style="color:white;">Regresar</a>
		<a href="#" class="back-button header-icon header-icon-1"><i class="fas fa-angle-left"></i></a>
		<a data-menu="menu-1" data-menu-type="menu-sidebar-left-push" href="#" class="header-icon header-icon-2"><i class="fas fa-bars"></i></a>
    </div>
    <div class="page-content header-clear-larger">

    <div class="center-boxed-text cal-title"><h3>Con el apoyo de:</h3></div>
        <br>
    <div class="row">

          <div class="content-box ">
            <img  class="responsive-image" src="{% static 'imagenes/PAHO_logos_bottom_spanish.png' %}">

        </div>
<br>

          <div class="content-box small">

            <img class="center-boxed-text" height="200" src="{% static 'imagenes/facultad_medicina_unah.png' %}">

        </div>
        <br>
        <div class=" content-box">

            <img  class="" height="200" src="{% static 'logos/UNAH-version-horizontal.png' %}">

        </div>
<br>


     <div class="content">

            <img  class="bg-blue-light responsive-image" src="{% static 'logos/object625789849.png' %}">

        </div>
<br>
    </div>
    </div>

{% endblock %}