<!DOCTYPE HTML>
 {% load staticfiles %}
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>INICIO | REPRODUCTIVA</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/framework.css' %} ">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</head>

<body >

<!--LOADER-->
<div id="preloader" class="preloader-light">


    	<h1 class="center-text color-magenta-dark ultrabold uppercase bottom-0 fa-2x">REPRODUCTIVA</h1>
        <img   height="120" class="center-object center-item center-text" src="{% static 'imagenes/logo.jpg' %}">
	<div id="preload-spinner"></div>

	<em>Esto solo tomará un segundo. ¡Vale la pena!</em>
</div>
<!--LOADER-->

<div id="page-transitions" class="page-build">




	<div class="header shadow-large header-light header-logo-app">
		<a href="index.html" class=""></a>

		<a data-menu="menu-1" data-menu-type="menu-sidebar-left-push" href="#" class="header-icon header-icon-q"><i class="fas fa-bars"></i></a>
    </div>

	<div id="menu-1" class="menu menu-sidebar-left menu-settings" style="background-color:#755ea8;">

        <div class="menu-scroll">
            <div class="menu-header">
                  {% if user.is_authenticated %}
                     <a class="menu-logo2" href="/logout/"></a>
                <h1>Salir</h1>
                <p>Cerrar sesión</p>
                      {% else %}

                      <a class="menu-logo" href="#"></a>
                <h1>Entrar</h1>
                <p>Iniciar sesión</p>
                {% endif %}

            </div>
            <div class="menu-list icon-background-active">
                <!--MENU PRINCIPAL INICIO-->
                <em class="menu-divider top-10">Menú</em>

             <a class="menu-item" href="/"><i class="fa gradient-yellow-dark fa-home"></i>INICIO</a>
                  <a class="menu-item align-left" href="{% url 'listar_contenido2'%}?id_contenido=4"><i class="fa gradient-yellow-dark fa-home"></i >DSR</a>
                <a data-submenu="submenu-2" class="menu-item" href="#"><i class="fa gradient-yellow-dark fa-image"></i>CONOCE TU CUERPO<span></span></a>

              <div id="submenu-2" class="submenu">
                    <a href="{% url 'listar_contenido'  %}?id_post=2">Menstruación</a>
                      <a href="{% url 'listar_contenido'  %}?id_contenido=2">Masturbación</a>
                </div>
 <a class="menu-item" href="{% url 'listar_contenido2'  %}?id_contenido=3"><i class="fa gradient-yellow-dark fa-hand-holding-heart"></i>EDUCACIÓN SEXUAL  </a>
                <a class="menu-item" href="#"><i class="fa gradient-yellow-dark fa-hand-holding-heart"></i>ANTICONCEPTIVOS</a>
      <a class="menu-item" href="#"><i class="fa gradient-yellow-dark fa-hand-holding-heart"></i>DIVERSIDAD SEXUAL</a>
      <a class="menu-item" href="{% url 'listar_contenido'  %}?id_contenido=3"><i class="fa gradient-yellow-dark fa-hand-holding-heart"></i>VIOLENCIA</a>


                <a class="menu-item" href="{% url 'agradecimiento'  %}"><i class="fa gradient-yellow-dark fa-hand-holding-heart"></i>AGRADECIMIENTOS</a>

             <a class="menu-item" href="{% url 'zonas_list'  %}"><i class="fa gradient-yellow-dark fa-home"></i>CENTROS MEDICOS</a>
             <a class="menu-item" href="{% url 'listaPost'  %}"><i class="fa gradient-yellow-dark fa-book"></i>BLOG</a>
            <a class="menu-item" href="{% url 'archivos_list'  %}"><i class="fa gradient-yellow-dark fa-folder"></i>RECURSOS</a>
             <a data-submenu="submenu-1" class="menu-item" href="#"><i class="fa gradient-yellow-dark fa-image"></i>MULTIMEDIA<span></span></a>
                <div id="submenu-1" class="submenu">
                    <a href="{% url 'listarAlbum'  %}">GALERIA</a>
                    <a href="{% url 'videos'  %}">VIDEOS</a>
                </div>
            <a class="menu-item" href="#"><i class="fa gradient-yellow-dark fa-laptop"></i>CHAT</a>

             <a class="menu-item close-menu" href="#"><i class="fa gradient-red-dark fa-times"></i>Cerrar Menú</a>

            <!--MENU PRINCIPAL FINAL-->

                <em class="menu-divider">Redes Sociales</em>



               <a class="menu-item" href="https://www.facebook.com/ReproductivaHn/"><i class="fab facebook-bg fa-facebook-f"></i>Facebook</a>
                <a class="menu-item" href="https://twitter.com/@reproductivahn"><i class="fab twitter-bg fa-twitter"></i>Twitter</a>
                <a class="menu-item" href="https://www.instagram.com/reproductivahn/"><i class="fab instagram-bg fa-instagram"></i>Instagran</a>
  <a class="menu-item" href="https://www.youtube.com/channel/UCscwkGNqmJTvqupQuxRiKyQ"><i class="fab youtube-bg fa-youtube"></i>YouTube</a>



            <!--REDES SOCIALES FIN-->
            </div>
            <em class="menu-copyright"> <span class="fa fa-venus-mars"></span> | Reproductiva | 2019 </em>
        </div>
	</div>



		{% block content %}

        {% endblock %}





</div>








<script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>


</body>


        <!-- INICIO FOOTER-->
     <!-- Footer -->
<footer class="footerfont-small gradient-yellow-light  color-yellow-light pt-4">

  <!-- Footer Elements -->

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div style="background-color:#755ea8;" class="footer-copyright  center-text ultrabold py-3"><p class="fa fa-venus-mars color-white"></p> | Reproductiva | 2019
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- FIN FOOTER-->
</html>