{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <div class="page-content header-clear-larger">

   <div class="single-slider owl-carousel owl-no-dots bottom-50">
            <div class="item shadow-large round-element">
                <img width="700" src="{% static 'imagenes/slide3.jpg'%}" data-src-retina="images/pictures/10.jpg">
                <div class="above-overlay cover-content-bottom">
					<h1 class="center-text uppercase ultrabold color-white bottom-0">Reproductiva</h1>
					<p class="color-white bottom-0 center-text font-12 opacity-80">
						Tu app de educación sexual
					</p>
				</div>
                <div class="overlay overlay-gradient-large"></div>
            </div>
           <div class="item shadow-large round-element">
                <img width="700" src="{% static 'imagenes/slide1.jpg'%}" data-src-retina="images/pictures/10.jpg">
                <div class="above-overlay cover-content-bottom">
					<h1 class="center-text uppercase ultrabold color-white bottom-0">RECURSOS</h1>
					<p class="color-white bottom-0 center-text font-12 opacity-80">
						Aquí encontraras muchos recursos sobre temas de sexualidad.
					</p>
				</div>
                <div class="overlay overlay-gradient-large"></div>
            </div>
           <div class="item shadow-large round-element">
                <img width="700" src="{% static 'imagenes/slide2.jpg'%}" data-src-retina="images/pictures/10.jpg">
                <div class="above-overlay cover-content-bottom">
					<h1 class="center-text uppercase ultrabold color-white bottom-0">TU APP DE EDUCACIÓN SEXUAL</h1>
					<p class="color-white bottom-0 center-text font-12 opacity-80">
						Solo necesitas registrarte y podras acceder a todos nuestras secciones.
					</p>
				</div>
                <div class="overlay overlay-gradient-large"></div>
            </div>
        </div>
    <a href="#" class="overlay-button shadow-large button button-s button-round button-yellow button-center-medium uppercase ultrabold">BIENVENIDO</a>

    <!--INICIO CARACTERISTICAS-->
    	<div class="content-box shadow-large bg-white">
            <div class=" ">
                <h3 class="bottom-10">Importante
                    <i class="fa fa-heart float-right top-0 color-red-light"></i></h3>
                <p class="bottom-30">
En este momento estamos aplicando las mejoras que nos han sugerido, esto nos tomara un par de horas en corregir, les agradecemos por sus comentarios, esto nos ayuda a mejorar la aplicación, muchas gracias.
                </p>

                <div class="decoration opacity-50"></div>

                <div class="icon-column">
                    <h1 class="font-17 bottom-0 regularbold">Educación sexual</h1>
                    <i class="fa fa-venus-mars gradient-yellow-light color-white shadow-icon-large"></i>
                    <p>
                     Reproductiva es una herramienta para educación sexual.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                    </p>

                </div>

                <div class="icon-column">
                    <h1 class="font-17 bottom-0 regularbold">Construida para todos</h1>
                    <i class="fa fa-user gradient-yellow-light color-white shadow-icon-large"></i>
                    <p>
                   Solo necesitas registrarte y podras acceder a todos nuestras secciones.

                    </p>
                </div>

                <div class="icon-column">
                    <h1 class="font-17 bottom-0 regularbold">Recursos</h1>
                    <i class="fa fa-file gradient-yellow-light color-white shadow-icon-large"></i>
                    <p>
                   Aquí encontraras muchos recursos sobre temas de sexualidad.
                    </p>
                </div>
            </div>
		</div>
<!--FINAL DE CARACTERISTICAS-->
    </div>
{% endblock %}
