{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

     <div class="header shadow-large header-light header-logo-app">
		<a href="#" class="back-button header-title" style="color:white;">Regresar</a>
		<a href="#" class="back-button header-icon header-icon-1"><i class="fas fa-angle-left"></i></a>
		<a data-menu="menu-1" data-menu-type="menu-sidebar-left-push" href="#" class="header-icon header-icon-2"><i class="fas fa-bars"></i></a>
    </div>

	<div class="page-content header-clear-larger">


        <div class="page-login bg-white">
            <div class="content bottom-0">
                <h3 class="uppercase ultrabold bottom-0 top-10">Registro</h3>
                <p class="smaller-text bottom-0">Regístrate ahora. ¡Es gratis!</p>


                <div class="input-simple-2 has-icon input-green bottom-15">
                    <form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="button button-magenta bottom-30 button-full button-round shadow-icon-large button-s uppercase ultrabold">REGISTRAR CUENTA</button>
        </form>
                </div>


                <div class="page-login-links bottom-10">
                    <a class="forgot center-text" href="/login"><i class="fa fa-user float-right"></i>¿Ya estás registrado?</a>
                    <div class="clear"></div>
                </div>
                 <div class="decoration"></div>
                     </div>
        </div>



	</div>
{% endblock %}
